/*===========================================================================
                                GENERAL SETUPS
============================================================================= */

 /* Import Google Font - Rubik 300,400,700 */
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700');

*{
  font-family: 'Rubik', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.main-content {
  padding: 0%;
  height: 100vh;
  background-color: #4f4f4f;
}

header {
  background-color: #4f4f4f;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 15px 0px #000;
  z-index: 999;
}

header .container {
  width: 70%;
}

body {
  background-color: #343434;
  margin: 0px;
}

p {
  color: #343434;
}


/*===========================================================================
                                HEADER/NAV
============================================================================= */

header .logo {
  float: left;
  width: 33%;
  text-align: center;
}

header .logo-img {
  margin: 0 auto;
}

header .nav {
  float: right;
  width: 66%;
  height: 100px;
}

header .nav nav {
  margin-top: 32px;
}

header .nav nav a {
  text-decoration: none;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-left: 15%;
  color: #6e6d6d;
  padding: 5px 0px;
  position: relative;
  transition: color ease-in-out 100ms;
}

header .nav nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #00ffb4;
  transform: scale(0);
  transition: transform ease-in-out 200ms;
}

header .nav nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  top: 1px;
  display: block;
  border-top: 1px solid #00ffb4;
  transform: scale(0);
  transition: transform ease-in-out 200ms;
}

header .nav nav a:hover {
  color: #a4a4a4;
}

header .nav nav a:hover::before,
header .nav nav a:hover::after {
  transform: scale(1);
}

/*===========================================================================
                                HERO SECTION
============================================================================= */

.hero {
  height: 100vh;
  background-image: url('../images/hero-img-1.jpg');
  background-position: center top;
  /* position: fixed; */
  background-size: cover;
}
.hero .container {
  background-image: inherit;
}

.hero::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero-cta {
  position: absolute;
  /* background-image: inherit; */
  height: 400px;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  background-color: rgba(0, 0, 0, 0.2);
}

.hero-cta h3.hero-heading {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  letter-spacing: 30px;
}

.hero-cta h3 {
  font-size: 3em;
  font-weight: 300;
  color: #fff;
}

.hero-cta a {
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 400;
  color: #00ffb4;
  position: relative;
  padding: 10px 40px;
  border: 4px solid;
  border-color: #00ffb4;
  letter-spacing: normal;
  transition: padding ease-out 250ms;
}

.hero-cta a:hover {
  padding: 10px 60px;
}


/*===========================================================================
                            PORTFOLIO SECTION
============================================================================= */

.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  /* grid-gap: 10px; */
  background-color: #fff;
}

.portfolio-item {
  background-color: #00ffb4;
  color: #4f4f4f;
  font-weight: 700;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.portfolio-item.one-one {
  grid-row: span 1;
  grid-column: span 1;
}
.portfolio-item.one-two {
  grid-row: span 1;
  grid-column: span 2;
}
.portfolio-item.two-one {
  grid-row: span 2;
  grid-column: span 1;
}
.portfolio-item.two-three {
  grid-row: span 2;
  grid-column: span 3;
}

.portfolio-item.one {
  background-image: url('../images/pf-1.jpg');
  background-size: cover;
}

.portfolio-item.two {
  background-image: url('../images/pf-2.jpg');
  background-size: cover;
}

.portfolio-item.three {
  background-image: url('../images/pf-3.jpg');
  background-size: cover;
}

.portfolio-item.four {
  background-image: url('../images/pf-4.jpg');
  background-size: cover;
}

.portfolio-item.five {
  background-image: url('../images/pf-5.jpg');
  background-size: cover;
}


.portfolio-item.one::before,
.portfolio-item.two::before,
.portfolio-item.three::before,
.portfolio-item.four::before,
.portfolio-item.five::before {
  content: '';
  display: block;
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease-in-out 300ms;
}

.portfolio-item.one:hover::before,
.portfolio-item.two:hover::before,
.portfolio-item.three:hover::before,
.portfolio-item.four:hover::before,
.portfolio-item.five:hover::before {
  opacity: 0.2;
}



/*===========================================================================
                            SIDE BY SIDE SECTION
============================================================================= */

#side-by-side.main-content {
  height: 50vh;
}

.side-by-side {
  display: inline-flex;
  width: 100%;
  height: 100%;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  box-sizing: border-box;
}

.side-by-side .left-side {
  position: relative;
  background-image: url('../images/sbs-1.jpg');
  background-size: initial;
  background-position: left;
  border-right: 2px solid #fff;
  height: 100%;
  width: 50%;
  transition: width ease-out 250ms;
}

.side-by-side .left-side a {
  text-decoration: none;
  color: #fff;
  mix-blend-mode: difference;
  font-weight: 700;
  font-size: 3em;
  position: absolute;
  left: 200px;
  top: 80%;
}


.side-by-side .right-side {
  position: relative;
  background-image: url('../images/sbs-2.jpg');
  background-size: initial;
  background-position: right;
  border-left: 2px solid #fff;
  height: 100%;
  width: 50%;
  transition: width ease-out 250ms;
}

.side-by-side .right-side a {
  text-decoration: none;
  color: #fff;
  mix-blend-mode: difference;
  font-weight: 700;
  font-size: 3em;
  position: absolute;
  right: 200px;
  top: 80%;
}

.side-by-side .left-side a::before,
.side-by-side .right-side a::before {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  display: block;
  border-bottom: 3px solid #00ffb4;
  transform: scale(0);
  transition: transform ease-in-out 300ms;
}

.side-by-side .left-side:hover a::before,
.side-by-side .right-side:hover a::before {
  transform: scale(1);
}

.sbs-bg-fade {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
  transition: opacity ease-out 250ms;
}

.side-by-side .left-side:hover .sbs-bg-fade,
.side-by-side .right-side:hover .sbs-bg-fade {
  opacity: 0;
}


.side-by-side .left-side:hover,
.side-by-side .right-side:hover {
  width: 100%;
}





/*===========================================================================
                              FOOTER SECTION
============================================================================= */
.footer {
  height: 50vh;
  background-color: #4f4f4f;
}








/*===========================================================================
                                      END
============================================================================= */
